* {
  scroll-behavior: smooth;
}

.App {
  min-height: 100vh;
  background-color:steelblue;
  color: whitesmoke;
  padding-top: 130px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .App {
    padding-top: 70px;
  }
}

.page-name {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  padding: 5px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .page-name {
    font-size: 6.5vw;
  }
}

